@model FootballPitchesBooking.Models.StadiumModels.AddStadiumModel
@{
    ViewBag.Title = "AddStadium";
}

<h2>AddStadium</h2>

@*@if (Model != null && Model.ErrorMessages.Count() > 0)
{
    <div style="color:red">
        @foreach (var error in Model.ErrorMessages)
        {
            <p>- @error</p>
        }
    </div>
}*@

<form action="AddStadium" method="post">
    <table> 
        <tr>
            <td>Chủ sân:</td>
            <td><input type="text" name="Owner" value="" /></td>
        </tr>
        <tr>
            <td>Tên sân:</td>
            <td><input type="text" name="StadiumName" value="" /></td>
        </tr>
        <tr>
            <td>Đường:</td>
            <td><input type="text" name="Street" value="" /></td>
        </tr> 
        <tr>
            <td>Phường:</td>
            <td><input type="text" name="Ward" value="" /></td>
        </tr> <tr>
            <td>Quận:</td>
            <td><input type="text" name="District" value="" /></td>
        </tr> 
        <tr>
            <td>Tỉnh/Thành phố:</td>
            <td><input type="text" name="City" value="" /></td>
        </tr>
        <tr>
            <td>Điện thoại:</td>
            <td><input type="text" name="PhoneNumber" value="" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="Email" value="" /></td>
        </tr>
        <tr>
            <td>Mô tả:</td>
            <td><textarea name="Description"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Lưu</button>
                <button type="button" onclick="window.location = '/Stadium/ListStadiums'">Hủy bỏ</button>
            </td>
        </tr>
    </table>
</form>