@model FootballPitchesBooking.Models.AccountModels.AccountModel
@{
    ViewBag.USER = "active";
    ViewBag.Title = "Đổi Mật Khẩu";
}

<h2>ChangePassword</h2>

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var password = $("#txtPass").val();
        var oldpassword = $("#txtOldPassword").val();
        var confirmpassword = $("#txtConfirmPassword").val();

        if (oldpassword == "" || oldpassword.length < 6 || oldpassword.length > 32) {
            $("#ErrorOldPass").text("Yêu cầu mật khầu cũ ");
            $("#ErrorOldPass").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorOldPass").text(" ");
            $("#ErrorOldPass").css("display", "none");
        }

        if (password == "" || password.length < 6 || password.length > 32) {
            $("#ErrorPass").text("Yêu cầu mật khầu mới từ 6 đến 32 kí tự");
            $("#ErrorPass").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorPass").text(" ");
            $("#ErrorPass").css("display", "none");
        }

        if (confirmpassword == "" || confirmpassword != password) {
            $("#ErrorConfirmPass").text("Xác nhận mật khẩu mới phải giống với mật khẩu mới");
            $("#ErrorConfirmPass").css("display", "block");
            flag++;

        }
        else {
            $("#ErrorConfirmPass").text(" ");
            $("#ErrorConfirmPass").css("display", "none");
        }

        if (password.length >= 6 && password.length <= 32 && password == oldpassword) {
            $("#ErrorPass").text("Yêu cầu mật khầu mới không giống mật khẩu cũ");
            $("#ErrorPass").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorPass").text(" ");
            $("#ErrorPass").css("display", "none");
        }

        if (flag > 0) {
            return false;
        } else return true;
    }
</script>






<div class="row Account-change-password">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="ChangePassword" method="post">
                    <fieldset>
                        <br />
                        <br />
                        <h1>ĐỔI MẬT KHẨU
                        </h1>
                        <br />
                        @if (Model != null && Model.ErrorMessages.Count() > 0)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <p>- @error</p>
                                }
                            </div>
                        }
                        <div class="row">
                            <div class="span3">
                                <label>
                                    TÊN ĐĂNG NHẬP
                                    <input name="UserName" type="text" disabled="disabled" value="@User.Identity.Name">
                                </label>
                            </div>
                            <div class="span3" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3">
                                <label>
                                    MẬT KHẨU CŨ
                                    <input name="OldPassword" id="txtOldPassword" type="password" placeholder="Nhập mật khẩu cũ" required="required" value="">
                                    <div class="alert alert-danger" id="ErrorOldPass" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    MẬT KHẨU MỚI
                                    <input name="Password" id="txtPass" type="password" placeholder="Nhập mật khẩu mới" required="required" value="">
                                    <div class="alert alert-danger" id="ErrorPass" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    XÁC NHẬN MẬT KHẨU MỚI
                                    <input name="ConfirmPassword" id="txtConfirmPassword" type="password" placeholder="Nhập lại mật khẩu mới" required="required" value="">
                                    <div class="alert alert-danger" id="ErrorConfirmPass" style="display: none"></div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <br />
                                <button type="button" onclick="window.location = '/Account/Details'" class="btn btn-primary btn-large book-now pull-right groupbtn">QUAY VỀ</button>
                                <button type="submit" name="Save" onclick="return check()" class="btn btn-primary btn-large book-now pull-right groupbtn">LƯU</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</form>
