@{
    ViewBag.Title = "Index";
}

<h2>Trang Quản Trị</h2>



<a href="/WebsiteStaff/JoinRequests">Quản Lý Yêu Cầu Tham Gia Hệ Thống</a>
<a href="/WebsiteStaff/Users">Quản Lý Người Sử Dụng</a>