@model List<FootballPitchesBooking.Models.MemberRank>
@{
    ViewBag.Title = "Hệ Thống Cấp Bậc";
    ViewBag.RANK = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>Hệ Thống Cấp Bậc</h2>
<div class="row">
    <div class="span12">
        <a href="/WebsiteStaff/AddMemberRank">
            <button type="button" class="btn btn-primary btn-large book-now groupbtn no-margin">Thêm cấp bậc</button>
        </a>
        <br />
        <br />
        @if (Model != null && Model.Count > 0)
        {
            <div class="row no-margin">
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 200px;">CẤP BẬC</th>
                            <th style="width: 120px;">ĐIỂM TỐI THIỂU</th>
                            <th>PHẦN THƯỞNG</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="/WebsiteStaff/EditMemberRank/@item.Id">@item.RankName</a></td>
                                <td>@item.Point</td>
                                <td>@item.Promotion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Hệ thống chưa có cấp bậc nào.</p>
        }
    </div>
</div>
