@model FootballPitchesBooking.Models.StadiumStaffModels.PromotionModel
@{
    ViewBag.PROMOTION = "active";
    ViewBag.Title = "Thêm Khuyến Mãi";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var promotionfrom = $("input[name=PromotionFrom]").val();
        var promotionto = $("input[name=PromotionTo]").val();
        var discount = new Number($("input[name=Discount]").val());
        var discountField = $("input[name=Discount]").val();

        if (promotionfrom == "" || promotionto == "") {
            $("#PromotionTime_Error").text("Xin vui lòng chọn thời gian khuyến mãi");
            $("#PromotionTime_Error").css("display", "block");
            flag++;
            //return false;
        }
        else {
            $("#PromotionTime_Error").text(" ");
            $("#PromotionTime_Error").css("display", "none");
        }

        if (discount < 0 || discount > 100 || discountField == "") {
            $("#Discount_Error").text("Yêu cầu giảm giá nằm trong khoảng từ 0 đến 100");
            $("#Discount_Error").css("display", "block");
            flag++;
            //return false;
        }
        else {
            $("#Discount_Error").text(" ");
            $("#Discount_Error").css("display", "none");
        }

        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

<div class="row stadiumstaff-create-promotion">
    <h1>THÊM KHUYẾN MÃI</h1>
    <form action="AddPromotion?stadium=@Request.QueryString["stadium"]" method="post" class="form-horizontal" enctype="multipart/form-data">
        <p>
            @if (Model.ErrorMessages != null && Model.ErrorMessages.Count() > 0)
            {
                <div class="alert alert-danger">
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <p>- @error</p>
                    }
                </div>
            }
        </p>
        <p>
            <label for="Fields">SỐ SÂN</label>
            <select id="Fields" name="Fields">
                @if (Model.Fields != null && Model.Fields.Count() > 0)
                {
                    foreach (var item in Model.Fields)
                    {
                        if (item.IsActive)
                        {
                    <option value="@item.Id">@item.Number</option>
                        }
                    }
                }
            </select>
        </p>
        <p>
            <label for="PromotionTime">THỜI GIAN KHUYẾN MÃI</label>
            <div class="input-daterange input-group" id="promotionTime">
                <input type="text" class="input-sm form-control" name="PromotionFrom" required="required" value="" />
                <span class="input-group-addon">đến</span>
                <input type="text" class="input-sm form-control" name="PromotionTo" required="required" value="" />
            </div>
            <script>
                $('#promotionTime').datepicker({
                    format: "dd/mm/yyyy",
                    language: "vi"
                });
            </script>
            <div class="alert alert-danger" id="PromotionTime_Error" style="display: none"></div>
        </p>
        <p>
            <label for="Discount">ƯU ĐÃI GIẢM GIÁ (%)</label>
            <input name="Discount" id="txtDiscount" type="text" placeholder="Giảm giá (%)" required="required" value="">
            <script type="text/javascript">
                $('#txtDiscount').keyup(function (event) {
                    if (isNaN(String.fromCharCode(event.which))) {
                        var value = $(this).val();
                        $(this).val(value.substr(0, value.length - 1));
                    }
                });
            </script>
            <div class="alert alert-danger" id="Discount_Error" style="display: none"></div>
        </p>
        <p>
            <button class="btn btn-primary book-now groupbtn" type="submit" name="Save" onclick="return check()">Lưu</button>
            <button class="btn btn-primary book-now groupbtn" type="button" onclick="window.location = '/StadiumStaff/Promotions/@Request.QueryString["stadium"]'">Hủy bỏ</button>
        </p>
    </form>
</div>
