@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Do Not Have Permission</title>
</head>
<body>
    <div>
        <h3>Bạn không có quyền thực hiện yêu cầu này</h3>
    </div>
</body>
</html>
