@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "CHỈNH SỬA THÔNG TIN SÂN BÓNG";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<div class="row stadiumstaff-edit-stadium">
    <div class="span12">
        <div class="alert alert-danger">
            Sân bóng bạn chọn hiện không hoạt động. Xin vui lòng liên hệ với quản trị viên website để biết thêm chi tiết.
        </div>
    </div>
</div>
