@model List<FootballPitchesBooking.Models.Advertisement>
@if (Model != null && Model.Count > 0)
{
    <div class="row" style="margin: 0 0 30px 0;">
        @foreach (var item in Model)
        {
            if (item != null)
            {
            <div class="advertise-banner">
                @Html.Raw(@item.AdvertiseDetail)
            </div> 
            }
            else
            {
            <div class="advertise-banner">
                <a href="mailto:footballpitchesbooking@gmail.com" ><img src="~/Content/images/contact-ads.gif" /></a>
            </div> 
            }
        }
    </div> 
}