@{
    ViewBag.HELP = "active";
    ViewBag.Title = "QUẢN LÝ SÂN";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<h2>QUẢN LÝ SÂN BÓNG</h2>

<p><h3>TRANG SÂN BÓNG</h3> Hỗ trợ bạn quản lý sân bóng của bạn. Nếu bạn là chủ sân bạn có thể thay đổi thông tin về sân, cập nhật giá cả cho các sân, thêm sân vào các hệ thống sân của bạn.</p>
<hr />
<p><h3>TRANG ĐẶT SÂN</h3> Hỗ trợ bạn quản lý việc đặt các sân trong hệ thống của bạn, bạn có thể tự đặt sân của bạn, xem thông tin đặt sân, cập nhật lại thông tin đặt sân cũng như chấp nhận hay từ chối yêu cầu đặt sân.</p>
<hr />
<p><h3>TRANG KHUYẾN MÃI</h3> Hỗ trợ bạn quản lý các khuyến mãi đối với sân bóng của bạn.</p>