@model List<FootballPitchesBooking.Models.Advertisement>
@{
    ViewBag.ADVERTISEMENT = "active";
    ViewBag.Title = "Quản Lý Quảng Cáo";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<div class="row">
    <div class="span12">
        <h2>QUẢN LÝ QUẢNG CÁO</h2>
        <a href="/WebsiteStaff/AddAdvertisement">
            <button class="btn btn-primary btn-large book-now groupbtn no-margin">Thêm quảng cáo</button>

        </a>


        @if (Model != null && Model.Count > 0)
        {
            <table class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>VỊ TRÍ</th>
                        <th>THÔNG TIN QUẢNG CÁO</th>
                        <th>NGÀY HẾT HẠN</th>
                        <th>TRẠNG THÁI</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Position</td>
                            <td>@item.AdvertiseDetail</td>
                            <td>@item.ExpiredDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.Status</td>
                            <td class="table-cell-action"><a href="/WebsiteStaff/EditAdvertisement?Id=@item.Id">Chỉnh sửa</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Hiện tại không có quảng cáo nào.</p>
        }
    </div>
</div>
