@{
    ViewBag.Title = "Quản Lý Thành Viên";
    ViewBag.MEMBER = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>QUẢN LÝ THÀNH VIÊN</h2>

<link href="@Url.Content("~/Content/Bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
<br />
<div class="search_content" style="background-image: none; background-color: white">
    <div>
        @using (Ajax.BeginForm("Users", "User", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "unobtrusive",
            }, new { @class = "form-inline" }))
        {
            @Html.TextBox("keyWord", "", new { placeholder = "Tên đầy đủ hoặc tài khoản" })
            <button type="submit" class="btn" value="Search" style="width: 80px;">
                Tìm kiếm</button>
            @Html.ActionLink("Xem tất cả", "Users", "WebsiteStaff", null, new { @class = "btn", style = "width:54px" })
        }   
    </div>
</div>
<br />
<div id="unobtrusive" style="background-image: none; background-color: white">
    @Html.Partial("_List")
</div>