.cust-body {
width: 960px;
margin-left: 200px;
}

.cust-logintext {
height: 0.5em;
width: 5em;
}

.cust-loginform {

}

.cust-contentform {
    background-color:rgba(5, 5, 5, 0.7);    
    height: 630px; 
    width:930px;
    border-bottom:outset thin #EBFF00 ;
}

.cust-stadiumform {
    background:black;
    height: 100px;
    width: 80px;
}

.cust-columnHeader {
    color: white;
    margin-left: 40px;
}

.cust-columnContent {
    color:#f7ef0f;
    margin-left: 40px;
    font-size: 14px;    
}

.cust-stadiumImg {
    padding-top: 5px;
    color:#646464;
    margin-left: 40px;
    font-size: 14px;
    border-bottom:outset thin #EBFF00 ;
}

.cust-challenge {
    width:17em;
    height:165px;
    padding-top: 5px;
    color:#646464;
    margin-left: 40px;
    font-size: 14px;
    border-bottom:outset thin #EBFF00 ;
}

.cust-searchForm {
   width:24em; 
   height: 350px; 
   background-color: rgba(0, 0, 0, 0.6); 
   color:white; padding-left:20px; 
   padding-top:10px
}

.cust-contentText {
    color:white;
}

